body{
  background-color: #42c8f4;
}

h1{
  border: 1px solid black;
}

div p{
  background:#fffca5;
}

h2{
   color: purple;
 }

input{
  border: 2px solid #7f0101
}

#textblock{
  border: 5px solid gray;
  width: 800px;
  height: 400px;
}

a{
  color: red;
}

#itemone{
  overline: text-decoration;
  color: purple;
}

*exit{
  background-color: blue
  border: 4px dashed yellow
}

a:link{
  color: red;
}

a:visited{
  color: blue;
}


/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
